<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- 부트스트랩 CSS 파일을 불러옵니다. -->
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <!-- 페이지 제목을 출력합니다. -->
        <h2>상품 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <!-- 상품 등록 버튼: 상품 등록 폼으로 이동합니다. -->
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/form/items/add}'|"
                    type="button">상품 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <!-- 테이블 헤더 열 정의 -->
            <tr>
                <th>ID</th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
            </tr>
            </thead>
            <tbody>
            <!-- 각 상품 항목을 나타내는 반복문 -->
            <tr th:each="item : ${items}">
                <!-- 상품 ID를 표시하고 해당 상품 상세 페이지로 링크합니다. -->
                <td><a href="item.html" th:href="@{/form/items/{itemId}(itemId=${item.id})}" th:text="${item.id}">회원id</a></td>
                <!-- 상품명을 표시하고 해당 상품 상세 페이지로 링크합니다. -->
                <td><a href="item.html" th:href="@{|/form/items/${item.id}|}" th:text="${item.itemName}">상품명</a></td>
                <!-- 상품 가격을 표시합니다. -->
                <td th:text="${item.price}">10000</td>
                <!-- 상품 수량을 표시합니다. -->
                <td th:text="${item.quantity}">10</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>